@import "tailwindcss";


#root{
  width: 100%;
height: 100vh;
}

.app{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input{
  border: 1px solid black;
  color: black;
}

button{
  color: black;
  border: 2px solid black;
  margin-top: 3px;
}